/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[LINK_ID]
      ,[POINT_NUM]
      ,[NODE_ID]
      ,[Z_LEVEL]
      ,[INTRSECT]
      ,[DOT_SHAPE]
      ,[ALIGNED]
      ,[geog]
      ,[Lat]
      ,[Lon]
      ,[BoundId]
  FROM [zGeoDataIsrael].[dbo].[Zlevels]