/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [BoundId]
      ,[ParentId]
      ,[Level]
      ,[Leaf]
      ,[Row]
      ,[Column]
      ,[LeftLng]
      ,[RigthLng]
      ,[UpLat]
      ,[DownLat]
  FROM [zGeoDataIsrael].[dbo].[BoundRects]