/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [SessionEventID]
      ,[SessionID]
      ,[TripID]
      ,[SessionEventTypeID]
      ,[TulipID]
      ,[SessionEventSourceID]
      ,[SafetyLevel]
      ,[EventStartTimeOUTime]
      ,[EventStartTimeUTC]
      ,[DurationInMilliSec]
      ,[EventSpeed]
      ,[EventStartSpeed]
      ,[EventEndSpeed]
      ,[DistanceFromSessionStartInM]
      ,[LocationMult100KLat]
      ,[LocationMult100KLong]
      ,[Heading]
      ,[FormattedAddress]
      ,[LocationStartMult100KLat]
      ,[LocationStartMult100KLong]
      ,[HeadingStart]
      ,[LocationEndMult100KLat]
      ,[LocationEndMult100KLong]
      ,[HeadingEnd]
      ,[CreateDateUTC]
      ,[MaxX]
      ,[MaxY]
      ,[Property1]
      ,[Property2]
      ,[Property3]
      ,[Property4]
      ,[Property5]
  FROM [SafetyCenter2].[dbo].[SessionEventsGreen]
  order by EventStartTimeUTC desc